.comments__container{
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 19px;
    justify-content: center;
    margin: 72px auto 0;
}