@import url(./__author/video__author.css);
@import url(./__container/video__container.css);
@import url(./__duration/video__duration.css);
@import url(./__icon/video__icon.css);
@import url(./__item-title/video__item-title.css);
@import url(./__link-image/video__link-image.css);
@import url(./__description/video__description.css);


.video{
    max-width: 1184px;
    margin: 102px auto 0;
    padding: 0 48px 0 48px;
}