.lead__track{
    width: 95%;
    padding-top: 24%;
    background-image: url(./lead__track.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 2.5%;
    bottom: 33%;
    z-index: 2;
}
