@media screen and (max-width: 768px){
    .content-subtitle{
        font-size: 1.5rem;
        margin-top: 24px;
    }
}

@media screen and (max-width: 425px){
    .content-subtitle{
        margin-top: 16px;
        font-size: 1rem;
    }
}