.content-subtitle{
    max-width: 640px;
    margin: 48px auto 0;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.1;
    text-align: center;
}