.place__link{
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 1.6;
    text-decoration-line: underline; 
    transition: opacity 0.4s;
    margin: 16px 0 0;
}

.place__link:hover{
    opacity: 0.7;
}